{% extends 'main/base.html' %}

{% block content %}
<h4>Что такое программа «Безопасный город»?</h4>
    <li>оперативный круглосуточный контроль ситуации на улицах и объектах города в режиме реального времени;</li>
    <li>ведение видео- и аудиоархива;</li>
    <li>автоматическое оповещение о возникновении чрезвычайных ситуаций соответствующих служб и организаций;</li>
    <li>предоставление визуальной информации с мест установки телекамер;</li>
    <li>восстановление хода событий на основе записанных видеоматериалов.</li>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Создать</button>
  </form>
{% endblock %}